.header {
	overflow-y: scroll;
	width: 185px;
}

.nav li{
	/*-webkit-transform: scale(1);*/
}

.content {
	left: 170px;
	background-color: #FFF;
}

@media (max-width: 1024px) {
	.header {
		width: 156px;
	}
	
	.content {
		left: 142px;
	}
}
